.slider {
    display: flex;
    flex-direction: row;

    .slider-tent{
        .slider-title {
            width: 833px;
    height: 211px;
    margin: 230px 57px 34px 42px;
    object-fit: contain;
    font-family: Rubik;
    font-size: 130px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: 3.25px;
    text-align: left;
    text-transform: capitalize;
    color: var(--black);
    }

    .slider-content {
        width: 539px;
  height: 51px;
  margin: 34px 0 46px 43px;
  object-fit: contain;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.55px;
  text-align: left;
  color: #000;
    }

    .slider-button {
        width: 111px;
        height: 37px;
        background-color: black;
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        margin: 12px;
    }
}
}

.slide-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 24px;

    li {
        float: left;

        button {
            font-size: 0;
            background-color: black;
            border: none;
            width: 60px;
            margin: 0 10px;
        }

        button :hover {
            background-color: sienna;
            border: none;
        }
    }
}


.video-wrapper {
    margin-top: 10px;
    margin-bottom: 15px;

    .cdd-video {
        background-color: gray;
        height: 266px;
    }
}