.more-products {
    .category-box {
        height: 145px;
        margin: 20px 12px 25px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
    }
    .title {
        text-decoration-color: white;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
}