.header-inner{

    display: flex;

    flex-direction: row;

    .logo{

        width: 100px;

      height: 43px;

     margin: -9px 0px 0px 88px;

     object-fit: contain;

     font-size: x-large;



    }

}
.header-links{

    display: flex;

    flex-direction: row;

    li{

        padding: 0px 20px;

        a{

            width: 56px;

            text-decoration: none;

            height: 12px;

            margin: 21px 38px 49px 12px;

            object-fit: contain;

            font-family: Rubik;

            font-size: 16px;

            font-weight: 500;

            font-stretch: normal;

            font-style: normal;

            line-height: 4.38;

            letter-spacing: 0.4px;

            text-align: left;

            color: #000;

        }

    }

}
