.row,
.col {
    margin: 0;
}
.cdd {
    margin-left: 12px;
    margin-right: 15px;

    .icon{
       
        width: 100%;
        height: 229px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 15px 10px 25px 0;
    }

    .cdd-ques {
        span {
            width: 186px;
  height: 85px;
  margin: 291px 45px 17px 42px;
  object-fit: contain;
  font-family: Rubik;
  font-size: 92px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.92px;
  text-align: left;
  color: var(--black);
        }

        font-size: 19px;
        font-weight: 200;
    }

    .cdd-ans {
        width: 691px;
  height: 158px;
  margin: 52px 53px 54px 43px;
  object-fit: contain;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.45px;
  text-align: left;
  color: #000;
    }

    a {
        width: 110px;
  height: 13px;
  margin: 6px 15px 227px 45px;
  object-fit: contain;
  font-family: Rubik;
  font-size: 19.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.49px;
  text-align: left;
  color: #4e93f8;
  padding-right: 1000px;

        span {
            color: black;
        }
    }
}
